@import url('https://fonts.cdnfonts.com/css/against-2');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    display: flex;
}

aside, article, main, section {
    transition: all 0.5s ease;
    display: flex;


    color: white;
}

aside, main {
    justify-content: center;
    align-items: center;
}

article, section {
    padding: 3rem;
}

section {
    flex-direction: column;
}

aside, article {
    flex: 0 0 40dvw;
}

main, section {
    flex: 0 0 60dvw;
}

aside {
    background-color: #2E578B;
}

main {
    background-color: #242E36;
}

section {
    background-color: #2E608B;
}

article {
    background-color: #2E578B;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-family: 'against', sans-serif;
    font-weight: 200;
    font-size: 96px;
}

h2 {
    font-size: 48px;
}

/* GLOBAL -------------------------------------------------- */

.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    transition: all 0.5s ease;
    flex: 1;
}

img {
    border: white 2px solid; /* tirar */
}

/* STEP 0 --------------------------------------- */

main img {
    width: 300px;

}

aside img {
    width: 490px; /* mudar */
}

section h2 {
    margin-left: 6rem;
}

.habilidades {
    display: flex;
    justify-content: center;
}

section img {
    width: 300px;
}

article h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

article img {
    width: 276px;
    height: 304px;
    border: white 2px solid; 
    border-radius: 21px;
}